@font-face{
    font-family:'clockicons';
    src: url('../../assets/fonts/clockicons.woff2') format('woff2');
    font-weight: normal;
    font-style:normal; 
}

* { 
    margin:0;
    padding:0;
}

.bg_default{
    height: 100vh;
    background-color: #2b53c0;
}

.texto-relogio {
    font-family: "clockicons",sans-serif;
    font-size: 18em;
    width:100%;
    height:auto;
    text-align: center;
    box-sizing:border-box;
    color:#ffffff;
}